<!DOCTYPE html>
<html>
  <head>
    <title>Coffee Shop</title>
  </head>
  <body>
    <!-- Cái này là tiêu đề nha  -->
    <h1 style="background-color:red; color:white; text-align:center">THE COFFEE HOUSE</h1>
    <hr width="60%" noshade="1">
    <a href="https://www.thecoffeehouse.com/" target="_blank">Đi tới trang The Coffee House</a>
    <br>
    <a href="./indexTea.html">Đi tới trang Tea</a>
    <br>
    <a href="#">Đi tới trang Coffee</a>
    <br>
    <hr width="80%" noshade="1">
    <h3 style="color:green; text-align: center">Coffee</h3>
    <p style="color:green; text-align:right">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In, impedit labore reiciendis exercitationem culpa quam illum sequi voluptatum similique? Quisquam, cum dolorem non explicabo veniam at? Consequatur, nisi delectus! Fugiat.
    </p>
    <hr width="80%" noshade="1">
    <h3>The coffee list</h3>
    <ul type="square">
      <li>Black coffee</li>
      <li>Pink coffee</li>
      <li>White coffee</li>
      </li>
    </ul>
    <!-- <img 
    src="./images/coffee/coffee.jpg" 
    alt="coffee" 
    width="50%"> -->
    <img src="../../images/coffee/coffee.jpg" alt=""
    width="50%">
  </body>
</html>