<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tea Menuh1</title>
</head>
<body>
  <div style="background-color: azure;">
<h1 style="background-color: red;color:white;text-align: center;">THE TEA MENU</h1>
<!-- external link -->
<a href="./index.html">Click để về trang Index</a><br><br>
<!-- internal link -->
<a href="#text">Click để tới text</a><br><br>
<!-- mail link  -->
<a href="mailto:example@email.com">Gửi mail</a><br><br>
<!-- phone link -->
<a href="tel:123 456 5444">Gọi Điện</a>
<hr width="80%" noshade="1">
<div style="text-align:center">
  <img src="../../images/Green-Tea.jpg" alt="" width="30%" border="5px">
  <img src="../../images/milktea.png" alt="" border="5px">

</div>
<hr width="80%" noshade="1">
<p id="text" style="text-align: right;color:red">Lorem ti <strong>
    eligendi qui atque corporis quaerat minus blan
  </strong> ditiis, <span style="color:blue;font-size:larger;">This si blue text</span> tempore labore placeat at
  impedit hic excepturi. Autem qui vitae ratione maiores recusandae, <i> inl la rum ohoin hiojljl hllin xemom </i>
  exercitationem ducimus mollitia nemo neque, blanditiis iure. Doloremque cupiditate quas natus, nesciunt ipsa saepe
  blanditiis reprehenderit recusandae consequatur. Nihil quas natus quod dolores unde, earum consectetur quaerat harum
  eligendi iure corrupti, nisi sequi inventore eius quis minima aliquid eos!</p>
<p id="text" style="text-align: right;color:red">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil debitis
  maxime molestias pariatur aut ullam mollitia maiores tempora minima tenetur corrupti eligendi qui atque corporis
  quaerat minus blanditiis, tempore labore placeat at impedit hic excepturi. Autem qui vitae ratione maiores recusandae,
  exercitationem ducimus mollitia nemo neque, blanditiis iure. Doloremque cupiditate quas natus, nesciunt ipsa saepe
  blanditiis reprehenderit recusandae consequatur. Nihil quas natus quod dolores unde, earum consectetur quaerat harum
  eligendi iure corrupti, nisi sequi inventore eius quis minima aliquid eos!</p>
<hr width="100%" noshade="1">

  </div>
  
<h4 style="text-align:center">TABLE MENU</h4>
<table border="1px" cellspacing="0" cellpadding="20px">
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>Type</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" rowspan="2" background="../../images/greentea.jpg" align="right">Green tea</td>
      <td>Hot</td>
      <td rowspan="2">25.000vnd</td>
    </tr>
    <tr>
      <td align="right">Cold</td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" background="../../images/blacktea.jpg" align="center">Back tea</td>
      <td>Hot</td>
      <td rowspan="2">28.000vnd</td>
    </tr>
    <tr>
      <td align="right">Cold</td>
    </tr>
    <tr>
      <td rowspan="3" background="../../images/fruit.jpg" align="center">Fruit tea</td>
      <td>Lemon tea</td>
      <td rowspan="3">Cold (only)</td>
      <td>30.000vnd</td>
    </tr>
    <tr>
      <td>Apple tea</td>
      <td rowspan="2">35.000vnd</td>
    </tr>
    <tr>
      <td>Peach tea</td>
    </tr>
  </tbody>
</table>


</body>
</html>