/*
Reset for padding=0, margin=0, 1rem = 10px, font-size: 16px, link no underline, button click no outline border*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%; /* font-size 1rem = 10px on default browser settings */

}

body{

  // font-family: 'SF Pro Text',-apple-system,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-weight: $fw-base;
  line-height: 1.4;
  font-size: 1.6rem;
  color: $color-text-primary;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  
  &:hover{
    text-decoration: none;
  }
}

button{
  // display: inline-block; /*default display inline-block*/
  text-align: center;
  cursor: pointer;
  
  &:focus{
    outline:none;
  }
}

ul {
  list-style:none;
}

/* ---------------*/

