/*
@mixin button ($color,$bg-color,$fs,$fw,$py,$px,$border,$border-radius) {
  color: $color;
  background-color:$bg-color ;
  font-size:$fs ;
  font-weight:$fw;
  padding: $py $px;
  border: $border;
  border-radius:$border-radius;
}

using
.button-custom {
  @include button ($color,$bg-color,$fs,$fw,$py,$px,$border,$border-radius,$color-hover,$bg-hover,$border-hover)
}
*/

.btn--log-in {
	@include button(
		$color-text-secondary,
		transparent,
		1.3rem,
		$fw-base,
		0,
		0,
		none,
		5px,
		$color-text-secondary,
		transparent,
		none
	);
	display: flex;
	align-items: center;
	.fa {
		font-size: 3rem;
		margin-right: 0.7rem;
	}
}
.btn--location {
	@include button(
		$color-text-secondary,
		transparent,
		1.3rem,
		$fw-base,
		0,
		0,
		none,
		5px,
		$color-text-secondary,
		transparent,
		none
	);
	display: flex;
	align-items: center;
	.fa {
		font-size: 2rem;
		margin-right: 0.7rem;
  }
  &:focus {
    outline:none;
    box-shadow:none;
  }
}

.btn--side-login {
	@include button(
		$color-text-primary,
		transparent,
		1.5rem,
		$fw-base,
		0,
		0,
		none,
		5px,
		$color-hover-primary,
		transparent,
		none
	);
	display: flex;
	align-items: center;
	.fa {
		font-size: 3rem;
		margin-right: 0.7rem;
	}

}

.btn--side-location {
	@include button(
		$color-text-primary,
		transparent,
		1.5rem,
		$fw-base,
		0,
		0,
		none,
		5px,
		$color-hover-primary,
		transparent,
		none
	);

  &:focus {
    outline:none;
    box-shadow:none;
  }
}

.btn--mua-ve {
	@include button (#fff,$color-bg-primary,$fs-base,$fw-base,0.5rem, 1rem, none,4px,null,null,null);
	width:50%;
}

.btn--chon-gio{
	
}