.category {
  margin:60px 0;
  .categories-content {
    width:95%;
    margin:auto;
    h2{
      @include text ($textGrey,$h4 + 5,$fwBold);
    }

    .categories-item{
      display:flex;
      flex-wrap:wrap;
      .cat-card{
        flex: 1 0 21%;
        margin:$p-5;
        border:1px solid $lightGrey;
        p{
          @include text($textGrey,$h4,$fwBold);
          padding:$p-10;
        }
      }
    }
  }
}