.partner{
  margin:100px 0 60px 0;
  border-top:1px solid $lightGrey;
  .partner-content{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:32px 0;
    a {
      margin:0 $p-15;
    }
  }
}