.partner{
  margin:100px 0 60px 0;
  border-top:1px solid $lightGrey;
  .partner-content{
    width:90%;
    margin:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:32px 0;
    h2{
      @include text ($textGrey,1.2rem,$fwBold);
      letter-spacing: 1px;
    }
    a {
      margin:0 $p-15;
    }

    .partner-item{
      padding:1rem;
      display:flex;
      flex-wrap:wrap;
      justify-content: center;
      a{
        padding:1rem;
      }
    }

  }
}