// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #fb4226;
$secondary: #9b9b9b;
$paper: #ffffff;
$dark: #333333;
$darkGrey: #686f7a;
$grey: #afafaf;
$lightGrey: #a4a4a4;
$white: #ffffff;

//-----COLORS TEXT------
$textPrimary: #fb4226;
$textSecondary: #9b9b9b;
$textDark: #333333;
$textWhite: #ffffff;
$textDarkGrey: #3c3b37;
$textGrey: #73726c;
$textLightGrey: #a4a4a4;

//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//----------SPACING---------
$spacing: 10px;