* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior:smooth; /* cho chạy ngược lên trên trong back-to-top*/
}

.header {
	background-color: #4e2a83;
	padding: 0 15%;
	height: 60px; /* nên set header theo chiều cao*/
	display: flex;
	justify-content: space-between; /* chỉnh giá trị theo trục chính*/
	align-items: center; /* chỉnh vị trí phần tử con theo trục phụ*/
}

/* gọi thẻ a con trực tiếp dấu nhọn > */
.header > a {
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}

.header__nav {
	display:flex;
}

.header__nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-right: 20px;
	/* text-decoration:underline; */
	/*dùng border bottom thì không làm hiệu ứng được*/
	/* border-bottom:1px solid #ff0382;
	padding-bottom:5px; */
}

.header__nav a::after{
	content:"";
	width:0%;
	height:3px;
	background:#ff0382; /*background dùng cho cả imgage và màu */
	/* thẻ a là inline và after nằm trong thẻ a nên thể after là inline. */
	display:block; /* sau đó phải sử dụng display:flex cho thẻ header__nav*/
	margin-top:4px;
}

.header__nav a:hover,
.header__nav a:active {
	color: #ff0e82;
	
}

.header__nav a:hover::after,
.header__nav a:active::after { /* lấy after của thẻ a đang được hover*/
	width:100%;
}

/* viết class active cùng cấp với thẻ a --> a.active
 viết cách ra là thẻ con a .active
 viết 
*/
.header__nav a.active {
	color: #ff0e82;
}

.carousel {
	background-image: url(../images/b3.jpg);
	background-attachment:fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carousel p {
	color: rgb(224, 220, 224);
	padding: 25px 0;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
}

.carousel h1 {
	color: #ffffff;
	font-size: 50px;
}

.carousel button {
	background-color: #ff0382;
	border: 1px solid #ffffff;
	padding: 10px 20px;
	color: #ffffff;
	font-weight: 600;
	border-radius: 5px;
	cursor:pointer;
}

.carousel button:hover {
	color: #ff0382;
	background-color: #ffffff;
	border: 1px solid #ff0382;
}

.intro {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}

.intro__item {
	/* background-color: #4e2a83; */
	background-image:linear-gradient(to bottom right, purple, pink,#4e2a83);
	color: #ffffff;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	/* padding:20px; */
	/* text-align:center; */
}

.intro__item img {
	width: 100%;
	display: block;
}

.intro__item--2 {
	grid-column: 2 / span 2; /*n/span m --> n: vị trí hiện tại. m là số cột nó chiếm*/
}

.intro__item--4 {
	grid-column: 1 / span 2; /*n/span m --> n: vị trí hiện tại. m là số cột nó chiếm*/
}

.intro__item--9 {
	grid-column: 3 / span 2; /*n/span m --> n: vị trí hiện tại. m là số cột nó chiếm*/
}

.statistic {
	display: flex;
	padding: 30px 40px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.statistic p {
	padding: 20px 0;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
}

.statistic .statistic__number {
	color: #6115d4;
	font-weight: 700;
	font-size: 25px;
}

.video {
	padding: 20px 10%;
}

.video__content {
	display: flex;
	margin: 0 -10px;
}

.video__item {
	width: 50%;
	padding: 0 10px; /* Nhớ dùng box-sizing cho khỏi bị rớt xuống*/
}

/* team  */


.team {
	background-color: #4e2a83;
	padding: 40px 10%;
	color: #ffffff;
}

.team h1 {
	text-align: center;
	padding: 30px;
}

.team h1::before{
	content:'The ';
	color:#ffffff;
}

.team h1::after{
	content: '!';
	color:#ff0382;
}

.team__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	/* grid-column-gap or grid-row-gap */
}

.team__item img {
	width: 100%;
}

/*
Lưu ý phải chỉnh div cha là position: relative, div con position absolute
*/

.team__item {
	position: relative;
	box-shadow:10px 2px 10px rgba(0, 0, 0, 0.3);
	/* x (theo chiều ngang, trái âm, phải dương) |y (theo chiều dọc, trên dương, dưới âm)| shadow | color | inset (đổ vào trong)*/
	overflow:hidden;/* cái gì của nó mà nằm ngoài nó thì sẽ bị ẩn đi*/
}

.team__item__detail {
	background-color: #ff0382;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	z-index: 10; /* thuộc tính này chỉ đi chung với position. z-index càng cao thì càng đè*/
}

.team__item__info {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 30px;

	/* visibility:hidden; */
	/* opacity: 0; */
	/* display:none; --> không làm hiệu ứng được */


		/* đặc tính transform với hàm translate () để di chuyển phần tử mà không phải dùng position
	hàm translate() theo chiều x, y trục tọa độ */

	transition-property: all; /* cái nào muốn thấy width, color..*/
	transition-duration:300ms; /* hoặc 0.5s*/
	transition-timing-function: linear; /* tốc độ vào, đều hay nhanh chậm*/
	transition-delay:0s;



}

.team__item__info p:first-child {
	color: #ff0382;
	font-size: 25px;
}

.team__item__info span {
	font-size: 14px;
	margin: 10px 0;
}

.team__item__info p:nth-child(3) {
	font-size: 17px;
	line-height: 1.6;
}

.team__info__social i {
	display: inline-block; /* phải dùng inline-block để chỉnh width x height vuông*/
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	/*dùng text-align và line-height = width của icon thì icon sẽ nằm giữa*/
	text-align: center;
	line-height: 40px;
	transition: all 0.3s linear 0s;
}

.team__info__social i:hover {
	color: #ff0382;
	border-color: #ff0382;
	cursor: pointer;
}
/* 
.team__item:hover .team__item__info {
	opacity: 1;
} */

.team__item:hover .team__item__detail {
	display: none;
}

.contact {
	padding: 30px;
}
.contact h1 {
	text-align: center;
}

.contact__form {
	padding: 20px 10%;
}

.contact__form__group {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.contact__form__control {
	width: 50%;
	padding: 10px;
}

.contact__form__group input {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	border: 1px solid #555555;
	/* border-radius:5px; */
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	outline: none; /* khi đưa chuột vào, focus vào input*/
}

.contact__form__group input:focus {
	border-color: #ff0382;
}

.contact__form__group input::-webkit-input-placeholder {
	color: #ff0382;
}

.contact__form__group input::-moz-placeholder {
	color: #ff0382;
}

.contact__form__group input:-ms-input-placeholder {
	color: #ff0382;
}

.contact__form__group input::-ms-input-placeholder {
	color: #ff0382;
}

.contact__form__group input::placeholder {
	color: #ff0382;
}

.contact__form textarea {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border: 1px solid #555555;
	/* border-radius:5px; */
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: auto;
	outline: none; /* khi đưa chuột vào, focus vào input*/
}

.contact__form texarea:focus {
	border-color: #ff0382;
}

.contact__form button {
	display: block;
	width: 100%;
	padding: 10px 0;
	background-color: #ff0382;
	font-weight: 600;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor:pointer;
}


/* Hiệu ứng transition */
.team__item--1 .team__item__info {
	/* là kích thước của div con chính nó */
	transform:translate(-100%,0); 
}

.team__item--1:hover .team__item__info{
	transform:translate(0,0)
}

.team__item--2 .team__item__info {
	transform:scale(0,0) /*mở rông theo trục x, y*/
}

.team__item--2:hover .team__item__info{
	transform:scale(1,1) /* khi rê chuột vào thì hiển thị kích thước ban đầu*/
}

.team__item--3 .team__item__info {
	transform:scale(0,0) /*mở rông theo trục x, y*/
}

.team__item--3:hover .team__item__info{
	transform:scale(1,1) rotate(360deg); /* khi rê chuột vào thì hiển thị kích thước ban đầu và xoay*/
}

.team__item--4 .team__item__info {
	opacity:0;
}

.team__item--4:hover .team__item__info{
	opacity:1;	
}

.demo-position {
	width:80%;
	height:400px;
	position:relative;
	margin:60px;
}

.demo-position__1 {
	height:50%;
	background:red;
}

.demo-position__2 {
	height:50%;
	background:blue;
}

.demo-position__item {
	width:100px;
	height:100px;
	background:green;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}


.demo-animation{
	
	width:80%;
	height:400px;
	background:cyan;
	margin:60px auto;
	position: relative;
}

.demo-animation__item {
	width:100px;
	height:100px;
	border-radius:50%;
	background:green;
	position: absolute;
	top:0;
	left:0;
	animation-name:demo; /*tên mình đặt dưới*/
	animation-duration:5s; /* tổng 100% thời gian là 5s*/
	animation-timing-function:ease-in-out; /* kiểu chuyển động*/
	animation-iteration-count:infinite;
	animation-delay:0s;
}

@keyframes demo{
	/* Toàn bộ thời gian thực hiện hiệu ứng là 100%, ví dụ này có 4 quãng đường trong 10s nên vì vậy sẽ có thời gian là 0% 25% 50% 75% 100%. 
	tương ứng tổng 10s.
	ban đầu tiên 0% 	  | --> position: top 0, left 0
	2.5s tiếp theo 25%	| --> position: top 100%-100px, left 0
	2.5s tiếp theo 50% | --> position: top (100%-100px), left (100%-100px);
	2.5s tiếp theo 75% | --> position: top 0, left (100%-100px)
	2.5s về ban đầu 	 | --> position: top 0, left 0 */
	0%{
	}
	25%{
		top:calc(100% - 100px);/* Tính toán với hàm calc*/
		left:0;

	}
	50%{
		top:calc(100% - 100px);
		left:calc(100% - 100px);
	}

	65% {
		top:50%;
		left:50%;
	}
	75%{
		top:0;
		left:calc(100% - 100px)
	}
	100%{
		top:0;
		left:0
	}

}


.animate--duration{
	animation-duration:3s;
	/* animation-iteration-count:infinite; */
}

.back-to-top {
	display:block;
	width:40px;
	height:40px;
	border: 2px solid #ff0382;
	color:#ff0382;
	border-radius:50%;
	text-align: center;
	line-height:40px;
	position:fixed;
	bottom:30px;
	right:30px;
}